{% extends "basetemplate.html" %}
{% block title %}
Accounts 
{% endblock %}

{% block content %}

  

<p><b>AccountId:</b> {{ account.Id }}</p>
</br>
<p><b>AccountType:</b> {{ account.AccountType }}</p>
</br>
<p><b>Balance:</b> {{ account.Balance }}</p>
</br>
<p><b>Transactions:</b></p>
<br>
<table class border = "1">

  <thead>
    <th>ID:</th>
    <th>Type:</th>
    <th>Date:</th>
    <th>Amount:</th>
    <th>NewBalance:</th>
    <th>AccountId:</th>
  </thead>


  <tbody>
    
    {% for t in account.Transactions %}

      <tr>
        <td>{{ t.Id }}</td>
        <td>{{ t.Type }}</td>
        <td>{{ t.Date }}</td>
        <td>{{ t.Amount }}</td>
        <td>{{ t.NewBalance }}</td>
        <td>{{ t.AccountId }}</td>
      </tr>
    
    {% endfor %}
  </tbody>
</table> 


 
{% endblock %}
 







