
{% extends "basetemplate.html" %}
{% block title %}
customerpage {{ customer.Surname }}, {{ customer.GivenName }}
{% endblock %}

{% block content %}

<h1> {{ customer.Surname }}, {{ customer.GivenName }}</h1>
</br>
<p><b>City:</b> {{ customer.City }}</p>
 </br>
<p><b>Telephon:</b>  {{customer.Telephone}}</p>
 </br>
<p><b>TelephonCode:</b> {{ customer.TelephoneCountryCode }} -  {{ customer.Telephone }}</p>
 </br>
<p><b>Streetaddress:</b> {{ customer.Streetaddress }}</p>
 </br>
<p><b>NationalId:</b> {{ customer.NationalId }}</p>
 </br>
<p><b>EmailAddress:</b> {{ customer.EmailAddress}}</p>
 </br>

 {% for a in customer.Accounts %}
  <a href="/account/{{a.Id}}">Accounts:{{ a.Id }}</a>
  
    <a href="/deposite/{{ a.Id }}" class="btn">Deposite</a>
    <a href="/withdraw/{{ a.Id }}" class="btn">Withdraw</a>
    <a href="/transactions/{{ a.Id }}" class="btn">Transfer</a>
    
 {% endfor %}



    <!-- <a href="/account/{{customer.Id}}" class="btn"> Accounts </a>
       <i class='bx bx-wallet-alt'></i>  -->


{% endblock %}


